<?xml version="1.0" encoding="UTF-8"?>
<ns1:cache-factory-config xmlns:ns1="uncertain.cache" defaultCacheFactory="InMemory">
    <ns1:cache-factories>
        <ns1:map-based-cache-factory name="InMemory"/>
        <!-- <memcached-client-factory xmlns="aurora.plugin.memcached" name="Memcached" serverList="192.168.44.131:11211"/> -->
    </ns1:cache-factories>
    <ns1:cache-mappings>
        <!-- <cache-mapping name="DataCache" cacheFactory="Memcached" enabled="true"/> -->
        <ns1:cache-mapping name="BusinessModel" cacheFactory="InMemory" enabled="false"/>
        <ns1:cache-mapping name="ProcedureConfig" cacheFactory="InMemory" enabled="false"/>
        <ns1:cache-mapping name="WebResource" cacheFactory="InMemory" enabled="false"/>
        <!-- <cache-mapping name="ResponseCache" cacheFactory="Memcached" enabled="true" /> -->
        <ns1:cache-mapping name="ViewComponentTemplates" cacheFactory="InMemory" enabled="false"/>
    </ns1:cache-mappings>
</ns1:cache-factory-config>
