/*
 Panel组件样式表
 */
.panel {
    border: #99bbe8 0px solid;
}

.panel-header {
    border: #99bbe8 1px solid;
    padding: 5px 3px 4px 5px;    
    background: url(../img/panel/white-top-bottom.gif) repeat-x 0px -1px;
}

.panel-wrap {
    border-top: 0px;
    border-left: #99bbe8 1px solid;
    border-right: #99bbe8 1px solid;
    border-bottom: #99bbe8 1px solid;
    overflow: hidden;
    zoom: 1;
}

.panel-header-tool {
    background: url(../img/panel/tool-sprites.gif) no-repeat;
    cursor: pointer;
    float: right;
    width: 15px;
    height: 15px;
    overflow: hidden;
    margin-left: 2px;
}

.panel-header-tool-toggle {
    background-position: 0px 0px;
}
.panel-header-text{
	font: bold 11px / 15px tahoma, arial, verdana, sans-serif;
	color: #15428b;	
}
