<?xml version="1.0" ?>
<period-mode-cache-provider xmlns="aurora.application.features.cache" refreshInterval="3000000" loadProc="init.load_system_service" cacheName="SystemResourceConfig"
cacheDesc="系统资源">
	<eventHandlers>
		<FullReloadHandler event="SystemResourceConfig_reload" topic="dml_event" />
	</eventHandlers>
</period-mode-cache-provider>
<!--
<period-mode-cache-provider xmlns="aurora.application.features.cache" refreshIntervel="300000" topic="dml_event" loadProc="init.load_system_service" name="SystemResourceConfig"/>
-->