<?xml version="1.0" encoding="UTF-8"?>
<p:procedure-registry xmlns:t="aurora.application.action" xmlns:a="http://www.aurora-framework.org/application" xmlns:p="uncertain.proc">
    <p:procedures>
        <p:procedure name="pre-service">
            <!-- <s:server-script xmlns:s="aurora.plugin.script"><![CDATA[
                function check() {
                    var t = 'aurora.application.action'
                    var p = 'uncertain.proc'
                    $ctx.success = true;
                    $session.copy();
                    if ($ctx.is_autocrud_service == true) {
                        new ActionEntry(t, 'bm-access-check').run({
                            errorMessage: '没有权限访问，或登录已失效(js)'
                        });
                        if (!$ctx.success) return;
                    } else {
                        new ActionEntry(t, 'resource-access-check').run({
                            resultPath: '/access-check/@status_code'
                        });
                        var sc = $ctx.get('/access-check/@status_code') || '';
                        switch (sc) {
                        case 'unregistered':
                            println('unreg')
                            $ctx.success = false;
                            $ctx.dispatch_url = '${/request/@context_path}/error_screen_unregistered.screen';
                            raise_app_error('页面没有注册(js)');
                            break;
                        case 'unauthorized':
                            $ctx.success = false;
                            $ctx.dispatch_url = "${/request/@context_path}/error_screen_unauthorized.screen";
                            raise_app_error('没有权限访问指定的页面(js)');
                            break;
                        case 'login_required':
                            $ctx.success = false;
                            $ctx.dispatch_url = "${/request/@context_path}/error_session_expired.screen";
                            raise_app_error('登录已失效，请重新登录(js)');
                            break;
                        }
                    }
                    new ActionEntry(p, 'action').run({
                        name: 'AccessCheck'
                    });
                }
                check();
            ]]></s:server-script> -->
            <p:set field="@success" value="true"/>
            <t:session-copy/>
			<!--<p:switch test="/request/@soapaction">
				<p:case Value="*">
				--><!--	<ws:WS-login-checker model="db.sys_ws_login_check_pkg.login_check"  modelaction="execute" field="/parameter/@return_value" value="N" message="没有权限登录"/>
				
				-->
			<!--	</p:case>
                <p:case>
				  <p:switch test="@is_autocrud_service">
                <p:case Value="true">
                    <t:bm-access-check errorMessage="没有权限访问，或登录已失效"/>
                </p:case>
                <p:case>
                    <t:resource-access-check errorMessage="登录已失效，请重新登录" resultPath="/access-check/@status_code"/>
                </p:case>
            </p:switch>
            <t:check-dispatch dispatchUrl="${/request/@context_path}/error_screen_unregistered.screen" field="/access-check/@status_code" message="页面没有注册" value="unregistered"/>
            <t:check-dispatch dispatchUrl="${/request/@context_path}/error_screen_unauthorized.screen" field="/access-check/@status_code" message="没有权限访问指定的页面" value="unauthorized"/>
            <t:check-dispatch dispatchUrl="${/request/@context_path}/error_session_expired.screen" field="/access-check/@status_code" message="登录已失效，请重新登录" value="login_required"/>
            <p:action Name="AccessCheck"/>
				</p:case>
			</p:switch>
			-->
      </p:procedure>
        <p:procedure name="application-start">
            <p:invoke procedure="init.load_system_service"/>
            <p:invoke procedure="init.load_priviledge_check_data"/>
        </p:procedure>
        <p:procedure name="session-destroy">
            <!--   <a:model-update model="sys.sys_expire_session"/> -->
        </p:procedure>
    </p:procedures>
</p:procedure-registry>
