<?xml version="1.0" encoding="UTF-8" ?>
<period-mode-cache-provider xmlns="aurora.application.features.cache" refreshInterval="3000000" refreshProc="init.load_priviledge_check_data" cacheName="RoleServiceAccess" cacheDesc="权限配置">
	<eventHandlers>
		<FullReloadHandler event="RoleServiceAccess_reload" topic="dml_event"/>
	</eventHandlers>
</period-mode-cache-provider>
<!--
<period-mode-cache-provider xmlns="aurora.application.features.cache" refreshIntervel="300000" topic="dml_event" refreshProc="init.load_priviledge_check_data" name="RoleServiceAccess" />
-->