body {
    background-color: white;
}
.docbook {
    font-family: sans-serif;
    font-size: 10pt;
    color: black;
    background-color: white;
}

.docbook h1,.docbook h2,.docbook h3,.docbook h4,.docbook h5,.docbook h6 {
    color: #394986;
    font-height: bold;
    margin-top: 1.33ex;
    margin-bottom: 1.33ex;
}

.docbook h1 {
    font-size: 1.8em;
}

.docbook h2 {
    font-size: 1.6em;
}

.docbook h3 {
    font-size: 1.4em;
}

.docbook h4 {
    font-size: 1.2em;
}

.docbook h5,.docbook h6 {
    font-size: 1em;
}

.docbook table {
    border-spacing: 0;
    font-size: 1em;
}

.docbook thead,.docbook tfoot {
    background-color: #EEEEEE;
}

.docbook th,.docbook td {
    padding: 0 0.5ex;
}

.docbook blockquote {
    margin-top: 1.33ex 4ex;
}

.docbook p,.docbook th,.docbook td,.docbook li,.docbook dt,.docbook dd {
    font-size: 1em;
}

.docbook p,.docbook pre,.docbook ol,.docbook dl,.docbook ul,.docbook table {
    margin-top: 1.33ex;
    margin-bottom: 1.33ex;
}

.docbook code,.docbook kbd,.docbook tt,.docbook pre {
    /*font-family: monospace;*/
    font-family: Courier New, Courier, monospace;
    font-size: 90%;
}

.docbook pre {
    white-space: pre;
    background-color: #f7f7f7;
    
    border: 1px solid #C0C0C0;
    padding: 1ex;
}

.docbook li {
    margin-top: 1.33ex;
    margin-bottom: 1.33ex;
}

.docbook *[compact] > li {
    margin-top: 0;
    margin-bottom: 0;
}

.docbook dt {
    margin-top: 1.33ex;
    margin-bottom: 0;
}

.docbook dd {
    margin-top: 0;
    margin-bottom: 1.33ex;
}

.docbook *[compact] > dt {
    margin-top: 0;
}

.docbook *[compact] > dd {
    margin-bottom: 0;
}

.docbook div.toc,
.docbook div.index,
.docbook div.list-of-figures,
.docbook div.list-of-tables,
.docbook div.list-of-examples,
.docbook div.list-of-equations,
.docbook div.list-of-procedures {
    margin-top: 1.33ex;
    margin-bottom: 1.33ex;
}

.docbook div.toc dl,
.docbook div.index dl,
.docbook div.list-of-figures dl,
.docbook div.list-of-tables dl,
.docbook div.list-of-examples dl,
.docbook div.list-of-equations dl,
.docbook div.list-of-procedures dl {
    margin-top: 0;
    margin-bottom: 0;
}

.docbook div.toc dt,
.docbook div.index dt,
.docbook div.list-of-figures dt,
.docbook div.list-of-tables dt,
.docbook div.list-of-examples dt,
.docbook div.list-of-equations dt,
.docbook div.list-of-procedures dt {
    margin-top: 0.25ex;
    margin-bottom: 0.25ex;
}

.docbook div.toc dd,
.docbook div.index dd,
.docbook div.list-of-figures dd,
.docbook div.list-of-tables dd,
.docbook div.list-of-examples dd,
.docbook div.list-of-equations dd,
.docbook div.list-of-procedures dd {
    margin-top: 0;
    margin-bottom: 0;
}

.docbook div.toc span.part,
.docbook div.toc span.chapter,
.docbook div.toc span.appendix {
    font-weight: bold;
}

.docbook div.attribution {
    text-align: right;
}

.docbook div.sidebar {
    background-color: #EEEEFF;
    border: 1px solid #C0C0DD;
    padding: 1ex;
    margin-top: 1.33ex;
    margin-bottom: 1.33ex;
}

.docbook div.sidebar > p.title {
    margin-top: 0.33ex;
}

.docbook div.example > p.title,
.docbook div.figure > p.title,
.docbook div.table > p.title,
.docbook div.procedure > p.title,
.docbook div.equation > p.title {
    color: #394986;
    font-weight: bold;
}

.docbook div.orderedlist,
.docbook div.calloutlist {
    margin-top: 1.33ex;
    margin-bottom: 1.33ex;
}

.docbook div.orderedlist > table,
.docbook div.calloutlist > table {
    margin: 0;
}

.docbook div.orderedlist > table td,
.docbook div.calloutlist > table td {
    vertical-align: baseline;
}

.docbook div.footnote {
    font-size: 0.9em;
}

.docbook a:link {
    text-decoration: none;
    color: #004668;
}

.docbook a:hover,
.docbook a:visited:hover {
    text-decoration: underline;
    color: #004668;
}

.docbook a:visited {
    text-decoration: none;
    color: #135678;
}

.docbook span.term {
    font-weight: bold;
}

.docbook abbr,
.docbook acronym {
    font-weight: bold;
}

.docbook span.keycap,
.docbook span.keycode,
.docbook span.keysym,
.docbook span.mousebutton {
    font-family: Courier New, Courier, monospace;
    font-size: 90%;
    background-color: #EEEEEE;
    padding: 0.2ex;
}

.docbook span.guimenu,
.docbook span.guisubmenu,
.docbook span.guimenuitem,
.docbook span.guibutton,
.docbook span.guiicon,
.docbook span.interface,
.docbook span.guilabel {
    font-weight: bold;
}


    
