<?xml version="1.0" encoding="UTF-8"?>
<p:procedure-registry xmlns:t="aurora.application.action" xmlns:a="http://www.aurora-framework.org/application" xmlns:p="uncertain.proc">
    <p:procedures>
        <p:procedure name="pre-service">
            <p:set field="@success" value="true"/>
            <t:session-copy/>
        </p:procedure>
        <p:procedure name="session-destroy">
        </p:procedure>
    </p:procedures>
</p:procedure-registry>
