html, body { margin:0; padding:0;font-size:12px;width:100%;height:100%}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, button, p, blockquote, th, td { margin:0; padding:0; }
fieldset, img { border:0; }
table { border-spacing:0; }
ol, ul { list-style:none; }
address, caption, cite, code, dfn, em, th, var { font-style:normal; font-weight:400; }
strong { font-style:normal; font-weight:700; }
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:400; }
q:before, q:after { content:""; }
abbr, acronym { border:0; }
a { color:#0069ca; text-decoration:none; }
.item-wrap {
	BORDER: #bababa 1px solid;
	FLOAT: left;	
	WIDTH: 100%;
	position: relative;
	Z-INDEX: 20;
	HEIGHT: 20px;
	
}
.item-draggable {
	cursor:move;
}
.item-lookup {
	BORDER-RIGHT: #bababa 1px solid;	
	BORDER-TOP: #bababa 1px solid;	
	Z-INDEX: 10000;	
	LEFT: 0px;	
	width:100px;
	height:100px;
	FONT: 12px/1.231 Verdana,Arial,SimSun,Helvetica,sans-serif;	
	MARGIN-LEFT: -1px;	
	BORDER-LEFT: #bababa 1px solid;	
	COLOR: #555;	
	BORDER-BOTTOM: #bababa 1px solid;	
	POSITION: absolute;	
	TOP: 22px;	
	BACKGROUND-COLOR: #fff
}
.item-trigger {
	BORDER-TOP-WIDTH: 0px;	
	BORDER-LEFT-WIDTH: 0px;	
	FLOAT: left;	
	BORDER-BOTTOM-WIDTH: 0px;	
	WIDTH: 20px;	
	CURSOR: pointer;	
	HEIGHT: 20px;
	BORDER-RIGHT-WIDTH: 0px
}
.item-popup {
	LEFT: 0px;
	TOP: 22px;	
	float:left;
	MARGIN-LEFT: -1px;
	POSITION: absolute;	
	BORDER:#bababa 1px solid;
}
.tip-wrap {
	padding:0px;
	position:absolute;
	z-index:20000;
}
.tip-header {
	border:1px solid #116497;
	background-color:#888888;
	font-weight:700;
	height:14px;
	color:#fff;
	padding:3px;
}
.tip-body {
	border-bottom:1px solid #116497;
	border-right:1px solid #116497;
	border-left:1px solid #116497;
	background-color:#fff;
	padding:3px;
}
.tip-arrow {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../src/com/aurora/ui/theme/default/resource/core/arrow.png', sizingMethod='scale'); 
	FLOAT: none; 
	MARGIN: 0px auto; 
	WIDTH: 15px; 
	HEIGHT: 12px
}

/** 布局 **/
.layout-table {
	
}
.layout-td-cell {
	padding:3px;
	vertical-align:top;
	padding:5px;
}
.layout-td-con {
	vertical-align:top;
}
.layout-th {
	vertical-align:top;
	padding-top:5px;
}
.layout-th div { 
	text-align:right;
	padding-top:3px;
	padding-left:5px; 
	padding-right:5px;
}
.layout-head {
	border-bottom:1px solid #bbbbbb;
	height:20px;
	COLOR: #055a78;	
	background:url(../window/window-header.gif) repeat-x;
	padding-left:5px;
}
.item-focus {
	border:1px solid blue;
	background-color:#e2f7ff;
}
.item-focus input {
	background-color:#e2f7ff;
}