<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="uncertain_ide"
            class="uncertain.ide.eclipse.project.wizard.ProjectWizard"
            icon="icons/uncertain.gif"
            id="uncertain.ide.eclipse.editor.ProjectWizard"
            name="%aurora.project"
            project="true"/>
      <category
            id="uncertain_ide"
            name="%category.name">
      </category>
      <wizard
            category="uncertain_ide"
            class="uncertain.ide.eclipse.screen.wizard.ServiceNewWizard"
            icon="icons/service.gif"
            id="uncertain_ide.wizards.SampleNewWizard"
            name="%wizard.screen.file">
      </wizard>
      <wizard
            category="uncertain_ide"
            class="uncertain.ide.eclipse.editor.sxsd.SxsdNewWizard"
            icon="icons/sxsd.gif"
            id="uncertain_ide.wizards.SxsdNewWizard"
            name="%wizard.sxsd.file">
      </wizard>
      <wizard
            category="uncertain_ide"
            class="uncertain.ide.eclipse.bm.wizard.db.BMFromDBWizard"
            icon="icons/bm.gif"
            id="uncertain.ide.eclipse.wizards.BmNewWizard"
            name="%wizard.create.bm.from.database">
      </wizard>
      <wizard
            category="uncertain_ide"
            class="uncertain.ide.eclipse.bm.wizard.sql.BMFromSQLWizard"
            icon="icons/sql.gif"
            id="uncertain.ide.eclipse.wizards.BmNewWizard"
            name="%wizard.create.bm.from.sql">
      </wizard>
   </extension>
   <extension
         id="BussinessModelEditor"
         point="org.eclipse.ui.editors">
      <editor
            class="uncertain.ide.eclipse.screen.editor.ServiceEditor"
            default="true"
            filenames="*.xml,*.service,*.screen,*.svc"
            icon="icons/service.gif"
            id="uncertain.ide.eclipse.editor.ServiceEditor"
            name="%editor.screen"/>
      <editor
            class="uncertain.ide.eclipse.editor.sxsd.SxsdEditor"
            default="true"
            filenames="*.sxsd"
            icon="icons/sxsd.gif"
            id="uncertain.ide.eclipse.editor.SxsdEditor"
            name="%editor.sxsd">
      </editor>
      <editor
            class="uncertain.ide.eclipse.bm.editor.BussinessModelEditor"
            default="true"
            filenames="*.bm"
            icon="icons/bm.gif"
            id="uncertain.ide.eclipse.editor.bm.BussinessModelEditor"
            name="%editor.bm">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="uncertain.ide.eclipse.preferencePage.RootPreferencePage"
            class="uncertain.ide.eclipse.preferencepages.SxsdDirPreferencePage"
            id="uncertain.ide.eclipse.preferencePage.SxsdDirectoryPreferencePage"
            name="%page.builtin.package">
      </page>
      <page
            category="uncertain.ide.eclipse.preferencePage.RootPreferencePage"
            class="uncertain.ide.eclipse.preferencepages.BrowserPreferencePage"
            id="uncertain.ide.eclipse.preferencePage.BrowserPreferencePage"
            name="%page.screen.preview">
      </page>
      <page
            class="uncertain.ide.eclipse.preferencepages.AuroraPreferencePage"
            id="uncertain.ide.eclipse.preferencePage.RootPreferencePage"
            name="%page.root">
      </page>
      <page
            category="uncertain.ide.eclipse.preferencePage.RootPreferencePage"
            class="uncertain.ide.eclipse.preferencepages.AuroraTemplatePreferencePage"
            id="uncertain.ide.eclipse.preferencePage.TemplatesPage"
            name="%page.templates">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.aurora.ide.sxsd.valid"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="uncertain.ide.eclipse.action.SxsdPackageValidAction"
               icon="icons/sxsd.gif"
               id="uncertain.ide.eclipse.action.SxsdPackageValidAction"
               label="%action.validate.builtin.package">
         </action>
         <enablement>
            <and>
            	 <instanceof value="org.eclipse.core.resources.IContainer"/>
            	 <test
                  forcePluginActivation="true"
                  property="uncertain.sxsd.valid.visable"
                  value="true"/>
            </and>
         </enablement>
      </objectContribution>
	   <viewerContribution 
	      id="uncertain.ide.eclipse.editor.textpage.TextPage.format"
	   targetID="uncertain.ide.eclipse.editor.textpage.TextPage.context"> 
	      <action
	         id="uncertain.ide.eclipse.editor.textpage.FormatAction" 
	         label="格式化"
	         menubarPath="additions" 
	         class="uncertain.ide.eclipse.editor.textpage.action.FormatAction"> 
	      </action>
       <action
             class="uncertain.ide.eclipse.editor.textpage.action.GetFileNameAction"
             id="uncertain.ide.eclipse.editor.textpage.GetFileNameAction"
             label="复制文件名"
             menubarPath="additions">
       </action> 
	   </viewerContribution> 
   </extension>
       <extension  point ="org.eclipse.core.expressions.propertyTesters" > 
    <propertyTester
    namespace ="uncertain.sxsd.valid" 
   properties ="visable" 
   type ="java.lang.Object" 
   class ="uncertain.ide.eclipse.action.SxsdValidVisablePropertyTester" 
   id ="uncertain.ide.eclipse.action.SxsdValidVisablePropertyTeste" >   
    </propertyTester >
    <propertyTester
          class="uncertain.ide.eclipse.navigator.BMHierarchyViewerTester"
          id="uncertain.ide.eclipse.navigator.BMHierarchyTester"
          namespace="uncertain.ide.eclipse.navigator.bm.container"
          properties="triggerponits"
          type="org.eclipse.core.resources.IResource">
    </propertyTester>
    </extension >
       <extension
             point="org.eclipse.ui.editors.templates">
          <contextType
                class="uncertain.ide.eclipse.preferencepages.AuroraTemplateContextType"
                id="uncertain_ide.new_screen"
                name="%contextType.new.screen">
          </contextType>
          <include
                file="templates/default-templates.xml"
                translations="templates/default-templates.properties">
          </include>
          
       </extension>
       <extension
             point="org.eclipse.ui.actionSets">
          <actionSet
                description="quick open file actionSets"
                id="uncertain_ide.actionset.quickopenfile"
                label="quick open file actionSets"
                visible="true">
             <action
                   class="uncertain.ide.eclipse.toolbar.action.OpenFileAction"
                   icon="icons/openfile.gif"
                   id="uncertain_ide.action.quickopenfile"
                   label="quick open file"
                   style="push"
                   toolbarPath="additions"
                   tooltip="open a file with finename">
             </action>
          </actionSet>
       </extension>
       <extension
             point="org.eclipse.ui.navigator.viewer">
          <viewer
                viewerId="org.eclipse.ui.navigator.ProjectExplorer">
          </viewer>
          <viewerContentBinding
                viewerId="org.eclipse.ui.navigator.ProjectExplorer">
             <includes>
                <contentExtension
                      pattern="uncertain.ide.eclipse.navigator.bmhierarchy">
                </contentExtension>
                <contentExtension
                      pattern="uncertain_ide.eclipse.navigator.filter">
                </contentExtension>
             </includes>
          </viewerContentBinding>
       </extension>
		<extension
             point="org.eclipse.ui.navigator.navigatorContent">
          <commonFilter
                activeByDefault="true"
                class="uncertain.ide.eclipse.navigator.BMFileFilter"
                description="Filter leaf BM"
                id="uncertain_ide.eclipse.navigator.filter"
                name="Filter leaf BM">
          </commonFilter>
          <navigatorContent
                activeByDefault="true"
                contentProvider="uncertain.ide.eclipse.navigator.BMFileContentProvider"
                icon="icons/bm.gif"
                id="uncertain.ide.eclipse.navigator.bmhierarchy"
                labelProvider="uncertain.ide.eclipse.navigator.BMFileLabelProvider"
                name="BM  Hierarchy"
                priority="lowest">
             	<triggerPoints>
                    <test
                          forcePluginActivation="true"
                          property="uncertain.ide.eclipse.navigator.bm.container.triggerponits"
                          value="true">
                    </test>
             </triggerPoints>
             <possibleChildren>
                <or>
                   <instanceof
                         value="uncertain.ide.eclipse.navigator.BMFile">
                   </instanceof>
                   <instanceof
                         value="org.eclipse.core.resources.IFile">
                   </instanceof>
                </or>
             </possibleChildren>
          </navigatorContent>
       </extension>
	<extension point="org.eclipse.ui.propertyPages">
	  <page
         adaptable="true"
         class="uncertain.ide.eclipse.project.propertypage.ProjectPropertyPage"
         icon="icons/uncertain.gif"
         id="uncertain.ide.eclipse.projectproperty"
         name="Aurora工程设置"
         objectClass="org.eclipse.core.resources.IProject">
	  </page>
	</extension>      
</plugin>
