<application-config xmlns="aurora.application" enableBMTrace="true">
	<application-view-config defaultPackage="ui.template" defaultTemplate="default" defaultTheme="default" defaultAutoAppend="false" defaultAutoCount="true" resourceCacheName="SystemResourceConfig" defaultTitle="Aurora Demo"/>
</application-config>